<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="futbalon.centaurosolutions.com.futbalon" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!--.Login-->
    <application
        android:name="futbalon.centaurosolutions.com.futbalon.controllers.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Partidos"
            android:label="@string/title_activity_partidos" >
        </activity>
        <activity
            android:name=".PartidosPendientesTab"
            android:label="@string/title_activity_partidos_pendientes_tab" >
        </activity>
        <activity
            android:name=".PartidosFinalizadosTab"
            android:label="@string/title_activity_partidos_finalizados_tab" >
        </activity>
        <activity
            android:name=".ListaPartidosView"
            android:label="@string/title_activity_lista_partidos" >
        </activity>
        <activity
            android:name=".WsTestActivity"
            android:label="@string/title_activity_ws_test" >
        </activity>
    </application>

</manifest>
